/* ===== Padding de Secciones ===== */
@mixin pd-s ($ptop, $pbottom) {
	padding-top: $ptop;
	padding-bottom: $pbottom;
}

/*===== Textos =====*/
@mixin parrafos ($size , $color, $font-fam) {
	font-size: $size;
	color: $color;
	font-family: $font-fam;
}

@mixin titulos ($weight , $color, $font-fam, $transform, $size) {
	font-weight: $weight;
	color: $color;
	font-family: $font-fam;
	text-transform: $transform;
	font-size: $size;
}

/* ===== Botones ===== */
@mixin boton ($bc, $c, $mg) {
	background-color: $bc;
	color: $c;
	margin: $mg;
}

/*===== Code Style =====*/
@mixin codes ($bc, $c, $pd) {
	background-color: $bc;
	color: $c;
	padding: $pd;
}